@tailwind base;
@tailwind components;
@tailwind utilities;

body {
  font-family: var(--font-dm-sans), sans-serif;
}

@layer utilities {
  .text-balance {
    text-wrap: balance;
  }
}

@layer base {
  :root {
    --background: 0 0% 100%; /* Light theme background */
    --foreground: 20 14.3% 4.1%; /* Light theme text color */
    /* Other light theme variables */
  }

  .dark {
    --background: 20 14.3% 4.1%; /* Dark theme background */
    --foreground: 60 9.1% 97.8%; /* Dark theme text color */
    /* Other dark theme variables */
  }
}

@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}
